html {
  background: #fff;
}

body {
  font-size: 100%;
  margin: 1em;
  font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
  background: #fff;
  border: 3px solid #84CE29;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
  padding: 0.2em 0;
  margin: 0 1em 0.5em 1em;
  border-bottom: 2px solid #FFCE00;
}

h2 {
  margin-top: 0.5em;
}

hr {
  border: 1px solid #ffce00;
  border-bottom-color: #ffe780
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

a:hover {
  color: #84CE29;
  border-bottom: 1px dashed #84CE29 !important;
}

blockquote {
  float: right;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  border-bottom: 1px solid #ffe780;
  border-top: 1px dotted #ffce00;
  max-width: 50%;
}
  blockquote pre {
    overflow: auto;
    background-color: #e7f2da;
    padding: 0.5em;
  }
  blockquote h3, blockquote p {
    margin: 0;
    color: #333;
  }

#sidebar {
  float: right;
  width: 30%;
  padding-left: 2%;
  margin-left: -2px;
  margin-right: 2%;
  /* In case I later want to add a line between the columns */
  border-left: 1px solid #fff;
}
  .group h2 {
    margin: 0 0 0 0;
    padding: 0;
    color: #666;
    border-bottom: 1px dashed #eee;
  }
  .group ul {
    margin: 0.5em 0;
    padding-left: 1em;
  }
  .group li h3 {
    font-size: 1em;
    font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
    font-weight: normal;
    margin: 0;
  }
  .group.disqus {
    margin-top: 1em;
  }
    .group.disqus h2 {
      margin-bottom: 0.5em;
    }
  .group.twitter {
    margin-bottom: 1em;
  }
    .twitter ul {
      padding-left: 0;
    }
    .twitter li {
      list-style-type: none;
      margin: 0;
      border-bottom: 1px dashed #ddd;
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
    }
    .twitter li span {
      font-style: italic;
      color: #444;
    }
  .group.subscribe {
    text-align: right;
  }
  .group.subscribe img {
    border: none;
  }
  .group.subscribe a, .group.subscribe a:hover {
    border: none;
  }

#content {
  margin: 0 0 1em -1px;
  padding-left: 2%;
  padding-right: 2%;
  width: 62%;
  float: left;
  /* In case I later want to add a line between the columns */
  border-right: 1px solid #fff;
}
  #content p {
    margin: 0;
    margin-bottom: 1em;
  }
  #content a {
    border-bottom: 1px solid #ddd;
  }

#footer {
  clear: both;
}

.back_to_index {
  display: inline-block;
  margin-bottom: 1em;
}

.highlight {
  padding: 0.1em 0.8em;
  background-color: #E7F2DA;
  overflow: auto;
  clear: both;
  margin-bottom: 1em;
}
