<div id="sidebar">
  <div class="group posts">
    <h2>Entradas recientes</h2>
    <ul>{% for post in site.posts limit:10 %}
      <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
    {% endfor %}</ul>
    <a href="/posts.html">Ver todas &raquo;</a>
  </div>
  
  <div class="group disqus">
    <h2>Discusiones recientes</h2>
    <script type="text/javascript" src="http://disqus.com/forums/ivanyvenian-rlog/combination_widget.js?num_items=5&color=grey&default_tab=recent"></script>
  </div>

  <div class="group twitter">
    <h2><a href="http://twitter.com/buffety">twitter</a></h2>
    <ul id="my_twitter_status"></ul>
    <script type="text/javascript" src="http://www.twitter.com/statuses/user_timeline/buffety.json?callback=twitterCallback&count=3"></script>
  </div>

  <div class="group subscribe">
    <a href="http://feeds2.feedburner.com/MiViajeEnTren"><img alt="Icono RSS/Atom" title="Suscríbete" src="/images/feed.png"/></a>
  </div>
</div>
