{% include html_head.html %}
<body>

<h1 title="{{ page.title }}">{{ page.title }}</h1>
 
{% include sidebar.html %}
  
<div id="content">
  {{ content }}
  <hr />
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/ivanyvenian-rlog/embed.js"></script><noscript><a href="http://ivanyvenian-rlog.disqus.com/?url=ref">Ver los comentarios.</a></noscript><a href="http://disqus.com" class="dsq-brlink">Comentarios por <span class="logo-disqus">Disqus</span></a>
</div>

{% include footer.html %}

</body>
</html>
